.form{
    /* border: 1px solid black; */
    padding: 0.6rem;
    height: 10rem;
    margin: auto;
    margin-top: 5rem;
    width: 40rem;
    background: white;
    /* border-radius: 12px; */
}

.form div label{
    display: flex;
    flex-direction: column;
    
    
}

.form div {
    width: 90%;
    margin: 0.5rem;
}

.form div label span{
    font-weight: bold;
    padding: 0.25rem;
}