.form{
    position: relative;
    top: 5rem;
    padding: 0.6rem;
    height: 10rem;
    margin: auto;
    width: 40rem;
    background: white;
}

.form div label{
    display: flex;
    flex-direction: column;
    
    
}

.form div {
    width: 95%;
    margin: 0.3rem auto;
}

.form div label span{
    font-weight: bold;
    padding: 0.25rem;
}